name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: haskell/actions/setup@v2
        with:
          ghc-version: 9.2.7
          enable-stack: true
          stack-version: "latest"
      - run: stack install --test
      - uses: actions/upload-artifact@v3
        with:
          name: json-sort-{{ runner.os }}-{{ runner.arch }}
          path: ~/.local/bin/json-sort-exe
