name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: haskell/actions/setup@v2
        id: setup
        with:
          ghc-version: 9.2.7

      - run: cabal configure --enable-tests --enable-benchmarks --disable-documentation
      - run: cabal build --dry-run
      - uses: actions/cache/restore@v3
        id: cache
        env:
          key: ${{ runner.os }}-ghc-${{ steps.setup.outputs.ghc-version }}-cabal-${{ steps.setup.outputs.cabal-version }}
        with:
          path: ${{ steps.setup.outputs.cabal-store }}
          key: ${{ env.key }}-plan-${{ hashFiles('**/plan.json') }}
          restore-keys: ${{ env.key }}-

      - run: cabal build all --only-dependencies
      - uses: actions/cache/save@v3
        if: ${{ steps.cache.outputs.cache-primary-key != steps.cache.outputs.cache-matched-key }}
        with:
          path: ${{ steps.setup.outputs.cabal-store }}
          key: ${{ steps.cache.outputs.cache-primary-key }}

      - run: cabal install all --install-method copy --installdir .
      - run: cabal install hspec-discover
      - run: cabal test all
      - uses: actions/upload-artifact@v3
        with:
          if-no-files-found: error
          name: jsonsrt-${{ runner.os }}-${{ runner.arch }}
          path: |
            jsonsrt
            jsonsrt.exe

  prerelease:
    needs: [build]
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/download-artifact@v3
      - uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "jsonsrt-head"
          prerelease: true
          title: "jsonsrt-head"
          files: |
            jsonsrt-Windows-x64
            jsonsrt-Linux-x64
            jsonsrt-macOS-x64
